<div class="container">
  <h1>Gastos dos deputados em 2017</h1>
  <p>Total gasto por todos os deputados: {{ total.toFixed(2) }}</p>
  <div *ngFor="let deputado of deputados">
    <img src="{{ deputado.urlFoto }}" style="border-radius: 50%">
    <p>{{ deputado.nome }}</p>
    <p>Total gasto: R$ {{ deputado.total.toFixed(2) }}</p>
    <canvas baseChart
            [data]="[
              deputado.telefone.toFixed(2),
              deputado.transporte.toFixed(2),
              deputado.viagem.toFixed(2),
              deputado.escritorio.toFixed(2),
              deputado.marketing.toFixed(2),
              deputado.seguranca.toFixed(2),
              deputado.alimentacao.toFixed(2),
              deputado.hospedagem.toFixed(2),
              deputado.outro.toFixed(2)
            ]"
            [labels]="[
              'Telefone (' + (100.0 * deputado.telefone / deputado.total).toFixed(2) + '%)',
              'Transporte (' + (100.0 * deputado.transporte / deputado.total).toFixed(2) + '%)',
              'Viagem (' + (100.0 * deputado.viagem / deputado.total).toFixed(2) + '%)',
              'Escritorio (' + (100.0 * deputado.escritorio / deputado.total).toFixed(2) + '%)',
              'Marketing (' + (100.0 * deputado.marketing / deputado.total).toFixed(2) + '%)',
              'Segurança (' + (100.0 * deputado.seguranca / deputado.total).toFixed(2) + '%)',
              'Alimentação (' + (100.0 * deputado.alimentacao / deputado.total).toFixed(2) + '%)',
              'Hospedagem (' + (100.0 * deputado.hospedagem / deputado.total).toFixed(2) + '%)',
              'Outro (' + (100.0 * deputado.outro / deputado.total).toFixed(2) + '%)'
            ]"
            [chartType]="'pie'">
    </canvas>
    <hr>
  </div>
</div>
