<div class="container">
  <h1>Gastos dos deputados em 2017</h1>
  <p>Total gasto por todos os deputados: {{ total }}</p>
  <div *ngFor="let deputado of deputados">
    <img src="{{ deputado.urlFoto }}" style="border-radius: 50%">
    <p>{{ deputado.nome }}</p>
    <p>Total gasto: R$ {{ deputado.total }}</p>
    <canvas baseChart
            [data]="[deputado.telefone, deputado.transporte, deputado.viagem, deputado.escritorio, deputado.marketing, deputado.seguranca, deputado.alimentacao, deputado.hospedagem, deputado.outro]"
            [labels]="['Telefone', 'Transporte', 'Viagem', 'Escritorio', 'Marketing', 'Segurança', 'Alimentação', 'Hospedagem', 'Outro']"
            [chartType]="'pie'">
    </canvas>
    <hr>
  </div>
</div>
